body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}
.header {
  background-color: lightblue;
  color: #000;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

.order-book,
.transaction-history,
.trade-interface {
  border: 2px solid #0F0; /* Thicker border */
  padding: 10px;
  background-color: #000; /* Black background */
  color: #0F0; /* Neon green text */
  font-family: 'Courier New', Courier, monospace; /* Monospaced font */
  margin-bottom: 20px; /* Space between sections */
  box-shadow: 0px 0px 10px #0F0; /* Glow effect */
}

.order-book h3,
.transaction-history h3,
.trade-interface h3 {
    text-align: center;
    text-shadow: 0px 0px 5px #0F0;
    letter-spacing: 2px;
}

.order,
.transaction {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.command-input-box {
  width: 50%;
  margin: 10px;
  display: flex;
  
}

.CommandInput{
  width: 100%;
  margin: 5px;
  display: flex;
}

.CommandInput input{
  width: 80%;
}

.CommandInput button{
  width: 20%;
}